
/* Para cuando no se esta arriba de todo en la pagina */
.barrnav {
    background-color: rgba(10, 46, 54, 0);
    position: sticky;
    top: 0;
    padding: 1%;
}

/* Logo */
.logoIV {
    font: 20px "Red Hat Display";
    color: #27fb6b;
    float: left;
    text-decoration: none;
}

.botones {
    float: right;
    margin-right: 2%;
    display: flex;
    margin-right: 13%;
}

.boton {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 5%;
}

.botonCV {
    background-color: #036d19;
    border-radius: 15px;
}

@media (min-width: 768px) {
    .iconoBoton {
        margin-bottom: 5%;
    }
}


.textoBoton {
    white-space: nowrap;
}