.App {
  text-align: center;
  display:grid;
  grid-template-rows: auto 1fr; /* La barra de navegación se ajusta automáticamente al contenido, el resto del espacio se asigna a la sección principal */
  height: 100vh; /* Establece la altura del contenedor al 100% de la ventana */
}

.home {
  padding: 20px;
}